<!-- routerLink="/admin/ProductTypes/create" -->


<div class="container">
    <div style="text-align: end;">
         <button  type="button" class="btn btn-success" (click)="openModalWithComponent()">Nuevo</button>
    </div>
   
    <table class="table-responsive table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"># Código</th>
                <th scope="col">Categoría</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody *ngIf="ProductTypes.length > 0">
            <tr *ngFor="let ProductType of ProductTypes">
                <th scope="row">{{ProductType.id}}</th>
                <td>{{ProductType.name}}</td>
                <td><button class="button-table btn btn-outline-info" [routerLink]="['/productType/edit/',ProductType.id]"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </td>
                <td><button class="button-table btn btn-outline-danger" (click)="deleteProductType(ProductType.id!)"><i
                            class="fa fa-solid fa-trash"  aria-hidden="true" ></i></button></td>
            </tr>


        </tbody>
    </table>
</div>