<div class="card mb-3" style="max-width: 540px;" *ngIf="productSelected != null else cargando">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="product-img" src="{{productSelected.imageUrl}}" style="width:400px"
                class="img-fluid rounded-start">

        </div>
        <div class="col-md-4">
            <div class="card-body">
               
                <h5 class="card-title">{{productSelected.name}}</h5>
                <p class="card-text">
                    {{productSelected.description}}
                </p>
                <div class="span-product">
                    <h3>{{productSelected.stock}} Unidades Disponibles</h3>
                    <h3>Precio: $ {{productSelected.price}}</h3>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <p style="text-align: right;">
                    <a class="btn-close" routerLink="/products">X</a>
                </p>
                <div class="add-cart" *ngIf="productSelected.stock > 0">
                    <select class="input-quantity form-control" name="quantity" #quantity>
                        <option *ngFor="let i of stock" value="{{i}}">{{i}}</option>
                    </select>

                    <button type="button" (click)="addProductCart(productSelected.id!, quantity.value)"
                        class="btn btn-warning"><i class=" fa fa-solid fa-cart-plus" arial-hidden="true"></i></button>
                </div>

            </div>
        </div>
    </div>
</div>
<ng-template #cargando>
    <div class="spinner-grow text-primary " role="status">
        <span class="no-products">Cargando...</span>
    </div>
</ng-template>